
@import './variables.scss';

html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  
  background-color: $primary-color;
  color:aliceblue;
  max-width: 1400px;
  margin: 0 auto;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

section{
  padding-top: 60px;
  min-height: 100vh;
  /*scroll-snap-align tulajdonság beállítja, hogy a görgetés során a tartalmak melyik része illeszkedjen a tartályba. */
  /* a section közepéhez igazítja a görgetést, tehát a görgetés során a section közepénél fog megállni, és nem hagyja azt félbehagyottan vagy részben láthatóan.*/
  scroll-snap-align: center;
}
@media (max-width: 600px) {
  section {
    min-height: 50vh; /* Változtasd meg az értéket az igényeid szerint */
  }
}
a{
  text-decoration: none;
}